body{
  background-color: #ebdebd;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

h1{
  font-size: 3rem;
  color: #6e3840;
  background-color: #ffffff7f;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
h2{
  color: #cc7e57;
  font-size: 2rem;
  background-color: #ffffff7f;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.form{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: #000000c2;
  padding: 20px;
  border-radius: 15px;
}

.label{
  font-size: 1.5rem;
  color: gold;
  margin-bottom: 5px;
}

.campo{
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background-color: #ffffffce;
}

.area{
  height: 100px;
  resize: none;
  background-color: #ffffffce;
}

button{
  margin-top: 5px;
  width: 49.25%;
  height: 35px;
  background-color: #ce2b02;
  color: gold;
  font-size: 1.0rem;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

button:hover{
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}